.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #002855;
    padding: 15px 40px;
    color: white;
  }
  
  .logo {
    font-size: 24px;
  }
  
  .nav-links a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
  }
  
  .nav-links a:hover {
    color: #f2b705;
  }
  